.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100;
    padding: 26px 0;
    background: linear-gradient(278deg, #2d2a22 -29.32%, #7e6d53 119.87%);
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.btn-menu {
    background-color: transparent;
    border: none;
    transition: transform 250ms var(--timing-fun);
}

.btn-menu:hover,
.btn-menu:focus {
    transform: scale(1.1);
    cursor: pointer;
}

.nav {
    display: none;
}

.nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.nav-link {
    display: inline-block;
    color: var(--light-color);
    font-family: Inter;
    transition: transform 250ms var(--timing-fun);
}

.nav-link:hover,
.nav-link:focus {
    transform: scale(1.1);
}

.wrapper-burger {
    display: none;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 90vh;
    background: linear-gradient(337deg, #2d2a22 5.7%, #7e6d53 108.98%);
    padding-top: 80px;
    text-align: center;
}

.wrapper-burger.is-active,
.wrapper-burger.is-active .nav {
    display: block;
}

.btn-close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    padding: 3px;
    background-color: transparent;
    border: none;
}

.btn-close-menu:hover,
.btn-close-menu:focus {
    transform: scale(1.1);
    cursor: pointer;
}