.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 100;
	padding: 26px 0;
	background: linear-gradient(278deg, #2d2a22 -29.32%, #7e6d53 119.87%);
	@media screen and (min-width: 768px) {
		padding: 35px 0;
	}
}
.header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.btn-menu {
	background-color: transparent;
	border: none;
	transition: transform 250ms var(--timing-fun);
	&:hover,
	&:focus {
		transform: scale(1.1);
		cursor: pointer;
	}
	@media screen and (min-width: 768px) {
		display: none;
	}
}
.nav {
	display: none;
	@media screen and (min-width: 768px) {
		display: block;
	}
}
.nav-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 24px;
	@media screen and (min-width: 768px) {
		flex-direction: row;
		gap: 32px;
	}
	@media screen and (min-width: 1280px) {
		gap: 48px;
	}
}

.nav-link {
	display: inline-block;
	color: var(--light-color);
	font-family: Inter;
	color: var(--button-background, #fcfcfb);
	transition: transform 250ms var(--timing-fun);
	&:hover,
	&:focus {
		transform: scale(1.1);
	}
}

.btn.btn-header {
	display: none;
	@media screen and (min-width: 1280px) {
		display: block;
		padding: 8px 30px;
		background-color: transparent;
		color: var(--light-color);
		font-size: 16px;
		border-radius: 8px;
		border: 1px solid var(--light-color);
		transition: color 250ms var(--timing-fun), background-color 250ms var(--timing-fun);
		&:hover,
		&:focus {
			cursor: pointer;
			background-color: var(--light-color);
			color: var(--main-color);
		}
	}
}
.wrapper-burger {
	display: none;
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(337deg, #2d2a22 5.7%, #7e6d53 108.98%);
	padding-top: 80px;
	text-align: center;
	&.is-active,
	&.is-active .nav {
		display: block;
	}
}

.btn-close-menu {
	position: absolute;
	top: 20px;
	right: 20px;
	display: flex;
	padding: 3px;
	background-color: transparent;
	border: none;
	&:hover,
	&:focus {
		transform: scale(1.1);
		cursor: pointer;
	}
  & .icon-close-menu {
    fill: white;
  }
}
