html {
	scroll-behavior: smooth;
}

body {
	font-family: Poppins, sans-serif;
	color: var(--main-color);
	line-height: normal;
	background-color: #ede9e3;
	padding-top: 80px;
	@media screen and (min-width: 768px) {
		padding-top: 100px;
	}
}
h1,
h2,
h3,
h4,
p {
	margin-top: 0;
	margin-bottom: 0;
}

ul {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.list {
	list-style: none;
	padding: 0;
}

.link {
	text-decoration: none;
}
.no-scroll {
	overflow: hidden;
}
.logo {
	transition: transform 250ms var(--timing-fun);
	&:hover,
	&:focus {
		transform: scale(1.1);
	}
}
